<section class="content">
  <div class="row">
    <div routerLink="/ask-for-food" class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>Pedir</h3>
          <p>Comida</p>
        </div>
        <div class="icon">
          <i class="fa fa-cutlery"></i>
        </div>
        <a class="small-box-footer">
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div routerLink="/orders" class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>53</h3>
          <p>Órdenes</p>
        </div>
        <div class="icon">
          <i class="fa fa-cc-visa"></i>
        </div>
        <a class="small-box-footer">
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>44</h3>

          <p>Registro Diario</p>
        </div>
        <div class="icon">
          <i class="fa fa-book"></i>
        </div>
        <a href="#" class="small-box-footer">
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>