#eatMeBody, #drinkMeBody {
    height: calc(100vh - 219px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.img-soft-blur {
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

.img-strong-blur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.font-big {
    font-size: 85px;
}

.font-medium {
    font-size: 35px;
}

.font-small {
    font-size: 20px;
}

.without-style {
    -webkit-appearance: none;
}

.carousel {
    margin-bottom: 25px;
}