.order-number-col {
    width: 10%;
}

.edit-input-width {
    width: 27%;
    margin-left: 37%;
}

.disabled-row {
    background-color: #cbcbcb;
}

.disabled-row:hover {
    background-color: #cbcbcb;
}

.icon-big-size {
    font-size: 2em;
}